<h1>You have the following application</h1>

<table>
  <tr>
    <th>Property - Unit</th>
    <th>Tenant Name</th>
    <th>Term type</th>
    <th>Start date</th>
    <th>End date</th>
    <th>First mont due</th>
  </tr>

<% @applications.each do |application| %>
  <tr>
    <td> <%=h application.unit.property.name %> - <%=h application.unit.name %> </td>
    <td> <%=h application.tenant.firstname %> <%=h application.tenant.lastname %> </td>
    <td> <%=h application.term_type %> </td>
    <td> <%=h application.start_date %> </td>
    <td> <%=h application.end_date %> </td>
    
    <td><%= link_to 'Show', application %></td>
    <td><%= link_to 'Edit', edit_application_path(application) %></td>
    <td><%= link_to 'Delete application', application, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
