<div class="rentlook_form">
  <% form_for @user, :html=>{ :multipart=>true} do |f| %>
    <%= f.error_messages %>

    <fieldset>
      <legend>Enter user information</legend>
        <div>
          <%= f.label :firstname %>
          <%= f.text_field :firstname %>
        </div>
        <div>
          <%= f.label :lastname %>
          <%= f.text_field :lastname %>
        </div>
        <div>
          <%= f.label :photo %>
          <%=f.file_field :photo%>
        </div>
        <div>
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <div>
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>
        <div>
          <%= f.submit 'Update' %>
        </div>
    </fieldset>
  <% end %>
  <br/>
  <%= link_to 'Show', @user %> |
</div>