<h3>Sign up to start getting all the benefit from using Rentlook to manage your
properties, or to make life easier as a Tenant</h3>

<div class="rentlook_form">
  <fieldset>
    <legend>Enter your user information to signup</legend>
    <% form_for(@user,:html=>{ :multipart=>true}) do |f| %>
      <%= f.error_messages %>

      <div>
        <%= f.label "I am a " %>
        <%= f.radio_button :type, "Landlord" %>Landlord
        <%= f.radio_button :type, "Tenant" %>Tenant
      </div>

      <div>
        <%= f.label :firstname %>
        <%= f.text_field :firstname %>
      </div>
      <div>
        <%= f.label :lastname %>
        <%= f.text_field :lastname %>
      </div>
      <div>
        <%= f.label :photo %>
        <%=f.file_field :photo%>
      </div>
      <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div>
        <%= f.submit 'Create' %>
      </div>
    <% end %>
</fieldset>
</div>
