<p>
  First Name:<br />
  <%=@user.firstname %>
</p>
<p>
  Last Name:<br />
  <%=@user.lastname %>
</p>
<p>
  Email:
  <%=@user.email %>
</p>
<p>
  <%if @user.photo_file_name.nil?%>
    <%= image_tag 'user.png'%>
  <%else%>
    <%= image_tag @user.photo.url(:small)%>
  <%end%>
</p>

<%= link_to "Edit", edit_user_path(@user) %>