<h1>Editing lease</h1>

<% form_for([@unit,@lease]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </p>
  <p>
    <%= f.label :rent %><br />
    <%= f.text_field :rent %>
  </p>
  <p>
    <%= f.label :auto_collect %><br />
    <%= f.check_box :auto_collect %>
  </p>
  <p>
    <%= f.label :auto_incriment %><br />
    <%= f.check_box :auto_incriment %>
  </p>
  <p>
    <%= f.label :auto_incriment_pct %><br />
    <%= f.text_field :auto_incriment_pct %>
  </p>
  <p>
    <%= f.label :rent_due_date %><br />
    <%= f.text_field :rent_due_date %>
  </p>
  <%if current_user.class == Tenant%>
    <p>
      <%= f.label "Tenant Approved"%><br />
      <%= f.check_box :tenant_approved %>
    </p>
    <p>
      <%= f.label "Landlord Approved:"%> <%=@lease.landlord_approved%><br />
    </p>
  <%elsif current_user.class ==Landlord%>
    <p>
      <%= f.label "Landlord Approved"%><br />
      <%= f.check_box :landlord_approved %>
    </p>
    <p>
      <%= f.label "Tenant Approved:"%> <%=@lease.tenant_approved%><br />
    </p>
  <%end%>


  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

