<div class="rentlook_form">
  <% form_for([@unit,@lease]) do |f| %>
    <%= f.error_messages %>
    <fieldset>
      <legend>Edit or accept your lease</legend>

        <div>
          <%= f.label :start_date %>
          <%= f.date_select :start_date, :disabled=>@user.type=="Tenant" %>
        </div>
        <div>
          <%= f.label :end_date %>
          <%= f.date_select :end_date, :disabled=>@user.type=="Tenant" %>
        </div>
        <div>
          <%= f.label :rent %>
          <%= f.text_field :rent, :disabled=>@user.type=="Tenant" %>
        </div>
        <div>
          <%= f.label :auto_collect %>
          <%= f.check_box :auto_collect, :disabled=>@user.type=="Tenant" %>
        </div>
        <div>
          <%= f.label :auto_incriment %>
          <%= f.check_box :auto_incriment, :disabled=>@user.type=="Tenant" %>
        </div>
        <div>
          <%= f.label :auto_incriment_pct %>
          <%= f.text_field :auto_incriment_pct, :disabled=>@user.type=="Tenant" %>
        </div>
        <div>
          <%= f.label :rent_due_date %>
          <%= f.text_field :rent_due_date, :disabled=>@user.type=="Tenant" %>
        </div>
        <div>
          <%= f.label "Landlord Approved"%>
          <%= f.check_box :landlord_approved, :disabled=>@user.type=="Tenant" %>
        </div>
        <div>
          <%= f.label "Tenant Approved"%>
          <%= f.check_box :tenant_approved, :disabled=>@user.type=="Landlord" %>
        </div>
      
      <br/>
      <div class="fine_print">By approving the lease you are agreeing to the the terms and conditions
      specified in the terms and service</div>
      <div>
        <%= f.submit 'Update' %>
      </div>
      </fieldset>
    <% end %>
</div>

