<h2>Listing leases</h2>

<table>
  <tr>
    <th>Property</th>
    <th>Tenant</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Rent</th>
    <th>Auto collect</th>
    <th>Auto incriment</th>
    <th>Auto incriment pct</th>
    <th>Rent due date</th>
  </tr>

<% @leases.each do |lease| %>
  <tr>
    <td><%=h lease.unit.property.name %></td>
    <td>TENANT INFO TO COME ...</td>
    <td><%=h lease.start_date.to_s(:long) %></td>
    <td><%=h lease.end_date.to_s(:long) %></td>
    <td><%=h lease.rent %></td>
    <td><%=h lease.auto_collect %></td>
    <td><%=h lease.auto_incriment %></td>
    <td><%=h lease.auto_incriment_pct %></td>
    <td><%=h lease.rent_due_date %></td>
    <td><%= link_to 'Show', lease %></td>
    <td><%= link_to 'Edit', edit_lease_path(lease) %></td>
    <td><%= link_to 'Destroy', lease, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />