<div class="unit">
  <h1><%=h unit.name %></h1>
  <div class="info">
    <h4><span class="title">Bedrooms: </span><%=h unit.bedrooms %></h4>
    <h4>Bathrooms: <%=h unit.bathrooms %></h4>
    <h4>Square feet: <%=h unit.square_feet %></h4>
    <h4>Base rent: <%=h unit.base_rent %></h4>
  </div>
  <div class="clear"></div>
</div>