<div class="rentlook_form">
  <% form_for([@property, @unit]) do |f| %>
    <fieldset>
      <legend>Enter the unit details</legend>
      <%= f.error_messages %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :bedrooms %>
        <%= f.text_field :bedrooms %>
      </p>
      <p>
        <%= f.label :bathrooms %>
        <%= f.text_field :bathrooms %>
      </p>
      <p>
        <%= f.label :square_feet %>
        <%= f.text_field :square_feet %>
      </p>
      <p>
        <%= f.label :base_rent %>
        <%= f.text_field :base_rent %>
      </p>
      <p>
        <%= f.label :amenities %>
        <%= f.text_area :amenities %>
      </p>
      <p>
        <%= f.submit 'Create' %>
      </p>
    </fieldset>
  <% end %>
</div>
<%= link_to 'Back', property_units_path %>