<h2>Welcome <%=@user.firstname %> <%=@user.lastname %></h2>
<p>
  You are registered with Rentlook as a Landlord.  You may login with your username: <%=@user.email %>
</p>

<%= link_to pluralize(@landlord.properties.size, 'property'), properties_path %>
<%= link_to "Add property", new_property_path %>