<div class="rentlook_form">
  <% form_for(@user_session) do |f| %>
    <%= f.error_messages %>
    <fieldset>
      <legend>Login to Rentlook</legend>
      <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div>
        <%= f.submit 'Login' %>
      </div>
    </fieldset>
  <% end %>
</div>